:root {
  --primary-bg-color: rgb(146, 146, 146);
  --secondary-bg-color: rgb(145, 143, 143);
  --tertiary-bg-color: rgb(41, 39, 39);
  --border-color: #beb2b2;
  --focus-border-color: rgb(95, 90, 90);
  --error-color: rgb(189, 72, 72);
  --text-color: white;
  --font-size-base: 1em;
  --font-size-large: 20px;
  --font-size-small: 17px;
  --form-input-height: 65px;
  --btn-width: 35em;
  --btn-height: 4em;
  --box-shadow: 0px 1px 5px #1b1a1a;
  --box-shadow-inset: inset 0px 1px 5px #1b1a1a;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f4f4f4;
}

.container {
  display: flexbox;
  margin: 50px auto;
  width: 75em;
  justify-content: center;
  justify-items: center;
}

p {
  opacity: 50%;
  font-weight: 0;
  margin: 25px 0;
  font-size: 17px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 42px;
}



#error-message {
  color: var(--error-color);
  font-size: 17px;
  font-weight: 400;
  margin: 15px 0px;
  text-align: center;
}

.error {
  border: 2px solid var(--error-color);
  transition: border-color 0.3s ease;
}

.text {
  text-align: left;
  font-size: var(--font-size-large);
}


.error-text {
  padding: 0px;
  margin: 0px;
}

#access-table-history {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 16px;
  text-align: center;
  margin: auto;
}


#access-table-history thead tr {
  color: #3f3f3f;
  text-align: center;
}

#access-table-history th,
#access-table-history td {
  padding: 15px;
  cursor: pointer;
}

#access-table-history tbody tr {
  border-bottom: 1.5px solid #b3b3b3;
  text-align: center;
}

#access-table-history tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#access-table-history tbody tr:hover {
  background-color: rgb(235, 235, 235)
}

#access-table-history tbody tr.selected {
  background-color: #66a0a08f;
  color: #ffffff;
}

.img-logo {
  display: inline-block;
  opacity: 60%;
  height: 120px;
  margin: 0px 550px;
}

.img-back {
  position: fixed;
  height: 55px;
  cursor: pointer;
  filter: grayscale(100%);
  margin: -280px 50px;
}

.img-back:hover {
  filter: grayscale(95%);
  transition: ease-in-out 500ms;
}

.img-back:active {
  filter: grayscale(90%);
  transition: ease-in-out 110ms;
  padding-right: 10px;
}

/* Adicione media queries para responsividade */
@media (max-width: 768px) {
  .column {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .container {
    width: 90%;
    margin: 3em auto;
  }

  .btnRegister {
    width: 100%;
  }
}